{% extends "profile_layout.html" %}
{% block title %}Welcome to Saved{% endblock %}
{% block content %}

		<p class='welcome' style="color: red">Admin Panel</p><br>
		<div class='fdata'>
			<table>
				<tr>
					<th>UID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Username</th>
				</tr>
				{% for user in users %}
				<tr id='{{user.UID}}' class='data'>
					<td>{{user.UID}}</td>
					<td>{{user.Name}}</td>
					<td>{{user.Email}}</td>
					<td>{{user.Username}}</td>
					<td><img src='../close.png' class='close' width='25px' height='25px' onclick='deleteUser("{{user.UID}}");'></td>
				</tr>
				{% endfor %}
			</table>
		</div>

		<form action="/admin" method="post">
			<table class="add_link">
				<tr>
					<td><input type="text" name="link" placeholder="Link"></td>
				</tr>
				<tr>
					<td><textarea rows="3" cols="17" name="desc" placeholder="Description"></textarea></td>
				</tr>
				<tr>
					<td><input type="submit" class="add" value="Add" class="add"></td>
				</tr>
			</table>
		</form>

		<div class='fdata'>
			<table>
				<tr>
					<th>Link</th>
					<th>Description</th>
				</tr>
				{% for row in rows %}
				<tr id='{{row.LID}}' class='data'>
					<td><a href="//{{row.Link}}" class="link" target="_blank">{{row.Link}}</a></td>
					<td>{{row.Description}}</td>
					<td><img src='../close.png' class='close' width='25px' height='25px' onclick='deleteLink("{{row.LID}}");'></td>
				</tr>
				{% endfor %}
			</table>
		</div>

		<button class="logout"><a href="/logout">Logout</a></button>

		<script type="text/javascript">
			function deleteLink(i){
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						var element = document.getElementById(i);
						element.outerHTML = "";
						delete element;
					}
				};
				xhttp.open('POST','/delete',true);
				xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xhttp.send('deleteLink='+i+'&deleteUser=""');
			}
			function deleteUser(i){
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						var element = document.getElementById(i);
						element.outerHTML = "";
						delete element;
					}
				};
				xhttp.open('POST','/delete',true);
				xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xhttp.send('deleteUser='+i+'&deleteLink=""');
			}	
		</script>

{% endblock %}